
@{
    ViewBag.Title = "Compras";
}
<head>
    <link href="~/Content/compras.css" rel="stylesheet" />
</head>
<h2 class="compras-title">Historial de Pedidos</h2>
<div class="compras-cards">
    <div class="card compras-card">
        <div class="card-image">
            <img src="~/Content/fertilzantes/fert1.png" class="card-img-top" alt="Imagen del Fertilizante 1" width="250">
        </div>
        <div class="card-body">
            <h5 class="card-title">Fertilizante Orgánico Líquido (alto Nitrógeno)</h5>
            <p class="card-text">Fertilizante Orgánico Super Concentrado Líquido Aumenta Producción Garantizamos Mínimo 10% de Mayor Rendimiento que Cualquier Fertilización Convencional al Mismo Precio.</p>
            <p class="card-total">$1,899</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
    </div>
    <div class="card compras-card">
        <div class="card-image">
            <img src="~/Content/fertilzantes/fert2.png" class="card-img-top" alt="Imagen del Fertilizante 1" width="250">
        </div>
        <div class="card-body">
            <h5 class="card-title">Biofeed Nutra-plus 8 2-4 fertilizante Líquido Multiuso</h5>
            <p class="card-text">Fertilziante liquido. Marca y modelo: Biofeed nutraplus Multiuso B01L0O7X7M</p>
            <p class="card-total">$2,229</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
    </div>
    <!--
    <div class="card compras-card">
        <div class="card-image">
            <img src="~/Content/fertilzantes/fert3.png" class="card-img-top" alt="Imagen del Fertilizante 1" width="250">
        </div>
        <div class="card-body">
            <h5 class="card-title">Nitrógeno Superior Y Potasa 15-0-15 Npk Fertilizante Líquido</h5>
            <p class="card-text"> Nitrógeno superior y potasa 15015 NPK Fertilizante líquido de calidad alimentaria Spray concentrado, cualquier tipo de hierba, soluciones simples para césped verde, cultivar, salud y fuerza, sin fósforo (32 onzas)</p>
            <p class="card-total">$2,207</p>
        </div>
    </div>
    -->
</div>