@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700;900&display=swap');

.agregarPaque-title {
    margin: 40px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.form-group {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
}

.form-group input {
    display: inline-block;
    width: 100%;
    max-width: initial;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.form-group label, label {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.btn-form{
    margin-top: 20px;
    font-size: 18px;
    width: 100%;
}