@using Fertitec.Models
@{
    ViewBag.Title = "pagandoPaypal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idClient = Convert.ToInt32(Session["idDir"].ToString());
    int idDir = Convert.ToInt32(Session["idClient"].ToString());
    string fO = Session["fechaOrden"].ToString();
    string nombre = Session["usr"].ToString();
    List<Item> cart = (List<Item>)Session["cart"];
    var total = cart.Sum(item => item.Product.precio * item.Cantidad);
}
<br />
<br />
<center>
    <img src="https://i2.wp.com/helpmybusinesspos.info/wp-content/uploads/2017/09/Paypal-Logo-mybusinesspos.png?resize=300%2C114&ssl=1" style="margin: auto" />
</center>
<div class="card text-center bg-info">
    <div class="card-header">
        Bienvenido 
    </div>
    <div class="card-body">
        <h5 class="card-title"> @nombre</h5>
        <p class="card-text">Acaba de recibir una solicitud de Pago por parte de Fertitec</p>
        <center>
            <table class="table-striped table-bordered">
                <!--<caption>Acepta el pago de</caption>-->
                <tr>
                    <td colspan="2" style="height: 50px; padding: 15px;">
                        <b style="font-family: 'Lucida Sans', sans-serif;">
                            FertiTec
                        </b>
                    </td>
                </tr>
                <tr>
                    <td class="info" style="height: 25px;padding: 15px;">Importe en pesos:</td>
                    <td style="height: 25px; padding: 15px;"><b>$@total</b></td>
                </tr>
            </table>
        </center>
        <br />
        <a class="btn btn-success text-center" style="text-decoration: none" href=@Url.Action("pagoAceptado", "Pago", new { idC = idClient, idD = idDir })>Pagar</a>
        <a class="btn btn-warning text-center" style="text-decoration: none" href=@Url.Action("pagoNoAceptado", "Pago")>Cancelar</a>
    </div>
    <div class="card-footer">
        @fO
    </div>
</div>

@*<div class="container" style="margin: 2rem auto">
    <div>
        <img src="~/Content/img/tarj/paypal.png" width="200" />
    </div>

    <main>
        <p style="font-family: 'Lucida Sans', sans-serif;">
            <b>Bienvenido @nombre</b>
        </p>
        <table class="table-striped table-bordered">
            <caption>Acepta el pago de</caption>
            <tr>
                <td colspan="2" style="height: 50px; padding: 15px;">
                    <b style="font-family: 'Lucida Sans', sans-serif;">
                        FertiTec
                    </b>
                </td>
            </tr>
            <tr>
                <td class="info" style="height: 25px;padding: 15px;">Importe en pesos:</td>
                <td style="height: 25px; padding: 15px;"><b>@total</b></td>
            </tr>
        </table>
    </main>
    <div style="margin: auto">
        <a class="btn btn-info text-center" style="text-decoration: none" href=@Url.Action("pagoAceptado", "Pago", new { idC = idClient, idD = idDir })>Pagar</a>
        <a class="btn btn-info text-center" style="text-decoration: none" href=@Url.Action("pagoNoAceptado", "Pago")>Cancelar</a>
    </div>
</div>*@


